/* styles.css */
/* Barre de navigation fixe */
body {
  background-color: rgb(54, 54, 54);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(214, 206, 206);
}
#nav {
  background-color: black;
  position: fixed;
  top: 0;
  width: 99%;
  display: flex; /* Utilisez un affichage flexbox */
  justify-content: space-evenly; /* Espacement égal entre les boutons */
  padding: 10px;
  align-items: center; /* Centrer les boutons verticalement */
  font-family: fantasy;
}

section {
  padding-top: 50px; /* Régle la hauteur en pixels de la barre de navigation */

}

.background-image {
  background-size: cover; /* Pour couvrir toute la page */
  background-position: center; /* Pour centrer l'image */
  background-attachment: fixed; /* Fixe l'image de fond pour le défilement */
  background-repeat: no-repeat; /* Pas de répétition de l'image de fond */
  color: rgb(36, 36, 36);
}

nav {
  background-color: rgb(0, 0, 0) ;
  position: fixed;
  top: 0;
  left: 0;
}

nav a {
  color: darkgray;
  text-decoration: none;
}